#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1,
label {
    color: hsl(213, 96%, 18%);
}

input, input:valid, input:user-valid {
    font-weight: bold;
    font-size: 13px;
    color: hsl(0, 0%, 26%);
    padding: 15px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0px;
}

label {
    margin-bottom: 10px;
    font-size: 13px;
}

#name-error, #phone-error, #email-error, #email-format-error{
    display: none;
}